.editNoteForm{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid black;
    padding: 15px;
    z-index: 5;
    background-color: #fff;
}

.editNoteInput{
    width: 100%;
    outline: none;
    padding: 5px;
}

.editNoteForm button{
    margin-top: 20px;
    padding: 5px 20px;
    outline: none;
    border: none;
    background-color: brown;
    color: #fff;
}

.editNoteForm span{
    position: absolute;
    right: 3px;
    top: 3px;
    color: darkblue;
    text-decoration: underline;
}